In [28]:
#mtcars dataset import
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plot
import scipy.stats as st
%matplotlib inline
mtcar = pd.read_csv("D:/MS-ASDS/3rd Semester/PM-ASDS22 Machine Learning for Data Science/AI_ML/Lesson 3 Practice/mtcars.csv")
mtcar.head()
mtcar
#Check the dimension
mtcar.shape
mtcar.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [37]:
#type and average value of the horsepower across all the cars
mtcar.head()
type(mtcar)
mtcar.mean(axis=0)
m=mtcar["hp"].apply(np.mean)
m.head()
print(mtcar['hp'].dtype) #datatype of the hp column
aver=mtcar['hp'].mean()
print(aver)

int64
146.6875

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_16724/510858076.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mtcar.mean(axis=0)

In [22]:
#type and average value of the horsepower across all the cars
mtcar.head()
group = mtcar[['model','hp']].groupby('model').mean()
group.head()

                       hp
model
AMC Javelin         150.0
Cadillac Fleetwood  205.0
Camaro Z28          245.0
Chrysler Imperial   230.0
Datsun 710           93.0

In [29]:
#identify a few of mostly correlated features
mtcar.head()
np.correlate(mtcar['cyl'], mtcar['hp'])
st.pearsonr(mtcar['cyl'], mtcar['hp'])

(0.8324474527218193, 3.4778606692129055e-09)

In [31]:
mtcar.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.418684,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.418684,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

In [38]:
#import library and dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
%matplotlib inline 

df = pd.read_csv("D:/MS-ASDS/3rd Semester/PM-ASDS22 Machine Learning for Data Science/AI_ML/Lesson 3 Practice/mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [49]:
#checkinh dimentionality
print("Dimension of the mtcar dataset is:",df.shape)
#checking the type of dataframe
print("The type of dataset is:",type(df))
#checking the type of the column in dataframe
print("The type of hp column is:",df['hp'].dtype)
#slicing the dataframe

print("Slicing the dataset:\n",df.iloc[1:5:,0:5])

Dimension of the mtcar dataset is: (32, 12)
The type of dataset is: <class 'pandas.core.frame.DataFrame'>
The type of hp column is: int64
Slicing the dataset:
                model   mpg  cyl   disp   hp
1      Mazda RX4 Wag  21.0    6  160.0  110
2         Datsun 710  22.8    4  108.0   93
3     Hornet 4 Drive  21.4    6  258.0  110
4  Hornet Sportabout  18.7    8  360.0  175

In [56]:
#extract all unique value of "HP" column:

print("Unique values of hp column:",df['hp'].unique())
#extract all  value of "HP" column:
print("All values of the hp column:",df['hp'].values)

Unique values of hp column: [110  93 175 105 245  62  95 123 180 205 215 230  66  52  65  97 150  91
 113 264 335 109]
All values of the hp column: [110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66
  52  65  97 150 150 245 175  66  91 113 264 175 335 109]

In [60]:
#mean() to return the mean of all columns of the dataset

print("Mean of the all columns of the dataser:\n",df.mean())

Mean of the all columns of the dataser:
 mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_16724/290485824.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Mean of the all columns of the dataser:\n",df.mean())

In [62]:
print("Median of the all columns of the dataser:\n",df.median())

Median of the all columns of the dataser:
 mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_16724/993712255.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Median of the all columns of the dataser:\n",df.median())

In [69]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [67]:
df.isnull()
df.isna().any()

model    False
mpg      False
cyl      False
disp     False
hp       False
drat     False
wt       False
qsec     False
vs       False
am       False
gear     False
carb     False
dtype: bool